node_modules
npm-debug.log
build
.git
.gitignore
.dockerignore
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md
.vscode
.idea
.cursor
*.deb
test.txt
TODO.md
PROJECT_DOCUMENTATION.md
